{% extends 'base.html' %}

{% block contents %}

    <div class="container">
        {% for blog in blogs.all %}
          <br><br>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
              <p class="card-text">{{blog.summary}}<a href="{% url 'detail' blog.id %}" class="card-link"> 자세히 보기</a></p>
            </div>
          </div>
        {%endfor%}
    </div>

{% endblock %}

  </body>